* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(#232630, #050507);
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
